/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /* End Of CSS Reset */

/* Add CSS styling here */
header{
    background-color: whitesmoke;
    text-align: center;
    border: 2px solid whitesmoke;
}
 html {
    font-size:62.5%;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #4f4f4f;
 }   
 h2 {
     font-size: 4rem;
     font-weight: bold;
 }
 h4 {
     background-color: white;
 }
 p {
     font-size: 1.6rem;
     text-align: center;
     justify-items: center;
}
.links {
    background-color: #E3BC9A;
    width: 100%;
}
.top-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}
.mid-content {
    display: flex;
    justify-content: center;
    width: 100%;
}
.profileimg {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
h2{
    text-align: center;
    font-size: 2em;
}

a {
    width: 20px;
    height: 10px;
    text-decoration: none;
    font-size: 3em;
    color: white;
    letter-spacing: .4rem;
}
.projects {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sidebox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 40%;
}
footer {
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    background-color: whitesmoke;
    width: 100%;
    margin-right: 40%;
}